<p class="text-start mt-3  mb-3" style="font-weight: bold;">Chat Ecomerce</p>

<div class="card">
    <div class="card-body">
            <b><i id="username"></i></b> <input id='message' type="text" class="mb-3 ml-3" name="message"/>
        <div id="messageLogs"/>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
