<p class="text-start mt-3  mb-3" style="font-weight: bold;">Lista de cart {{cartId}}</p>
{{#each products}}
    <div class="card mt-3">
        <div class="card-body">
            {{this}}
        </div>
    </div>
{{/each}}
