<p class="text-start mt-3  mb-3" style="font-weight: bold;">Iniciar sesion</p>

<form action="/session/login" method="post"  style="border:2px solid #0d6efd; border-radius: 5px;background-color:#0d6efd">
    <div class="row">
        <div class="col-md-4 m-2">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="email">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 m-2">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 m-2">
            <button type="submit" class="btn btn-success">Iniciar sesion</button>
        </div>
    </div>
</form>

